@namespace Innovative.Blazor.Components.Components

@typeparam TModel

<div class="sidepanel-content-wrapper" @onclick:stopPropagation data-test-id="@DataTestId">
    <div class="sidepanel-header">
        <div class="sidepanel-title">
            @if (ShowClose)
            {
            <button class="sidepanel-icon-button" id="sidePanelCloseButton"
                    @onclick="@sidePanelService.CloseSidepanel">
                <span class="material-symbols-outlined">keyboard_tab</span>
            </button>
            }
            <h3>@Title</h3>
        </div>
        <div class="sidepanel-actions">
            @TitleBarContent
            @if (ShowEdit && !IsEditing && !isCustomDialog)
            {
                <RadzenButton id="sidePanelEditButton"
                        Click="@(args => IsEditing = !IsEditing)">
                    <span class="material-symbols-outlined">edit</span>
                </RadzenButton>
            }
            else if (ShowEdit && (IsEditing || isCustomDialog))
            {
                <RadzenButton
                    Click="@HandleSaveClick">
                    <span class="material-symbols-outlined">save</span>
                </RadzenButton>
                <button class="sidepanel-icon-button"
                        @onclick="@HandleCancelClick">
                    <span class="material-symbols-outlined">close</span>
                </button>
            }
            @if (ShowDelete && !IsEditing && !isCustomDialog)
            {
                <RadzenButton ButtonStyle="ButtonStyle.Danger"
                        Click="@HandleDeleteClick">
                    <span class="material-symbols-outlined">delete</span>
                </RadzenButton>
            }
        </div>
    </div>
    <div class="sidepanel-content">
        <CascadingValue Value="this">
            @if (!IsEditing && !isCustomDialog)
            {
                @ViewChildContent
            }
            else if (!isCustomDialog)
            {
                @EditChildContent
            }
            else
            {
                @ActionChildContent
            }
        </CascadingValue>
    </div>
    <div class="sidepanel-footer">
        @BottomBarContent
    </div>
</div>
